@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.container_contacto {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contacto-titulo {
    font-family: var(--font-titulo);
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-container {
    width: 100%;
}
.caja{
    margin-bottom: 30px;
}
.caja legend {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    width: 95%;
    padding: 10px 0;
    text-align: center;
}

.campos {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.campos_label {
    width: 20%; 
}

.campos_label{
    display: flex;
    
}
.campos_input{
    width: 75%;
}
.campos_input input, textarea, select{
    width: 100%;
    padding-top : 15x;
    padding-bottom : 15px; 
    border: 1px solid #ccc;
    font-size: 16px;
    color: #e1e1e1;
    font-size: 14px;
    padding: 10px;
}
.categoria{
    padding: 30px 200px;
    line-height: 15px;
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

botones{
  margin-left: 0;
}
.boton{
  padding: 10px 10px;
  margin-left: 0;
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}